<div class="container">
    <!-- <div class="alert alert-primary" *ngIf="appName == 'Angular' || appName == 'Typescript' ; else elseCondition  ">
        angular Div
    </div>

    <ng-template #elseCondition>
        <div class="alert alert-danger" >
            in Else condition
        </div>

    </ng-template> -->



    <!-- <div class="alert alert-primary" *ngIf="arr.length == 0 ; then  trueCondition ;else elseCondition  ">
        angular Div
    </div>

    <ng-template #trueCondition>
        <div class="alert alert-success" >
            array length = 0
        </div>

    </ng-template>

    <ng-template #elseCondition>
        <div class="alert alert-danger" >
           array length greater than 0
        </div>

    </ng-template>

    <button class="btn btn-success" (click)="handlePush()">Push in array</button> -->

    <button class="btn btn-primary" (click)="handleAddItem()">
        Add UserName to localStorage
    </button>
</div>